.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 80px;
  padding: 50px 0;
  padding-bottom: 100px;
}

.title {
  font-size: 70px;
  color: var(--primaryColor);
}
.funnelContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 50px;
  position: relative;

  margin: 0 auto;
  max-width: 570px;
  width: 100%;
}
.funnelContainer::before {
  content: " ";
  position: absolute;
  clip-path: polygon(50% 100%, 100% 0, 0 0);
  width: 90%;
  height: 110%;
  background: var(--curveBg);
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  z-index: -1;
}
.labelContainer {
  margin: 0 auto;

  border-radius: 50px;
  padding: 20px 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  position: relative;
  --width: 100px;
  --space: 30px;
}
.label {
  font-size: 36px;
  font-weight: 600;
  color: var(--secondaryColor);
}

.labelContainer::before {
  content: "";
  position: absolute;
  left: 0;
  top: 50%;
  transform: translate(-100%, -50%);
  width: 100px;
  height: 3px;
  background: var(--bg);
}
.labelContainer::after {
  content: "";
  position: absolute;
  left: 0;
  top: 50%;
  transform: translate(calc(-100% - var(--width)), -50%);
  width: 100px;
  height: 3px;
  background: var(--bg);
  width: 10px;
  height: 10px;
  border-radius: 50%;
}
.rightLabelContainer:before {
  content: "";
  left: auto;
  right: 0;
  transform: translate(calc(100%), -50%);
}
.rightLabelContainer:after {
  content: "";
  left: auto;
  right: 0;
  transform: translate(calc(100% + var(--width)), -50%);
}
.info {
  position: absolute;
  left: 0;
  top: 50%;
  transform: translate(calc(-100% - var(--width) - var(--space)), -50%);
  max-width: 290px;
  font-size: 28px;
  text-align: right;
}
.rightInfo {
  left: auto;
  right: 0;
  transform: translate(calc(100% + var(--width) + var(--space)), -50%);
  text-align: left;
}
